<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Daily Meals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <ion-list>
    <ion-item>
      <ion-label> Breakfast</ion-label>
      <ion-toggle [(ngModel)]="isBreakfastStatusChanged" color="secondary" checked="false" (ionChange)="onBreakfastStatusChange();"></ion-toggle>  
    </ion-item>
    <ion-item *ngIf="isBreakfastStatusChanged">
        <ion-label>{{breakfastTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Snack</ion-label>
      <ion-toggle [(ngModel)]="isMorningSnackStatusChanged" (ionChange)="onMorningSnackStatusChange();" color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="isMorningSnackStatusChanged">
        <ion-label>{{morningSnackTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Lunch</ion-label>
      <ion-toggle [(ngModel)]="isLunchStatusChanged" (ionChange)="onLunchStatusChange();" color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="isLunchStatusChanged">
        <ion-label>{{lunchTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Snack</ion-label>
      <ion-toggle [(ngModel)]="isAfternoonSnackStatusChanged" (ionChange)="onAfternoonSnackStatusChange();" color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="isAfternoonSnackStatusChanged">
        <ion-label>{{afternoonSnackTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Dinner</ion-label>
      <ion-toggle [(ngModel)]="isDinnerStatusChanged" (ionChange)="onDinnerStatusChange();" color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="isDinnerStatusChanged">
        <ion-label>{{dinnerTime}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
