<ion-header>

  <ion-navbar [color]="category">
    <ion-title>{{category}}</ion-title>
    <label>Cada opción equivale una porción</label>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch]="category" >  
      <ng-template [ngSwitchCase]="'Frutas'" *ngFor="let fruit of Frutas">
          <ion-item>
              <div item-left>{{fruit.name}}</div>
              <div item-right>{{fruit.portion}}</div>
          </ion-item>
        </ng-template>
      <ng-template [ngSwitchCase]="'Harinas'" *ngFor="let flour of Harinas">
          <ion-item>
              <div item-left>{{flour.name}}</div>
              <div item-right>{{flour.portion}}</div>
          </ion-item>
      </ng-template>
      <ng-template [ngSwitchCase]="'Carnes'" *ngFor="let meat of Carnes">
          <ion-item>
              <div item-left>{{meat.name}}</div>
              <div item-right>{{meat.portion}}</div>
          </ion-item>
      </ng-template>
      <ng-template [ngSwitchCase]="'Vegetales'" *ngFor="let vegetable of Vegetales">
          <ion-item>
              <div item-left>{{vegetable.name}}</div>
              <div item-right>{{vegetable.portion}}</div>
          </ion-item>
      </ng-template>
      <ng-template [ngSwitchCase]="'Lacteos'" *ngFor="let dairy of Lacteos">
          <ion-item>
              <div item-left>{{dairy.name}}</div>
              <div item-right>{{dairy.portion}}</div>
          </ion-item>
      </ng-template>
      <ng-template [ngSwitchCase]="'Aceites'" *ngFor="let oil of Aceites">
          <ion-item>
              <div item-left>{{oil.name}}</div>
              <div item-right>{{oil.portion}}</div>
          </ion-item>
      </ng-template>
  </div>
</ion-content>
